<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<form method="POST" class="post-form" action="/app/edit/{{editkey.id}}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Update Details</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">first name
    </label>  
    <div class="col-sm-4">  
        <input type="text" name="eid" id="first name" required maxlength="" value="{{ editkey.first_name }}"/>  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">last Name:</label>  
    <div class="col-sm-4">  
        <input type="text" name="ename" id="id_ename" required maxlength="" value="{{ editkey.last_name }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">department:</label>  
    <div class="col-sm-4">  
        <input type="text" name="department" id="department" required maxlength="" value="{{ editkey.department }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">address:</label>  
    <div class="col-sm-4">  
        <input type="text" name="address" id="address" required maxlength="" value="{{ editkey.address }}" />  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">contact_number:</label>  
    <div class="col-sm-4">  
        <input type="text" name="contact_number" id="contact_number" required maxlength="" value="{{ editkey.contact_number }}" />  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">email:</label>  
    <div class="col-sm-4">  
        <input type="email" name="email" id="email" required maxlength="" value="{{ editkey.email }}" />  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">profile_picture:</label>  
    <div class="col-sm-4">  
        <input type="text" name="profile_picture" id="profile_picture" required maxlength="15" value="{{ editkey.profile_picture }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">OK</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>  